/*h1{
    color:red;
    text-align: center;
}
h3{
    color:red;
    text-align: center;
}*/
label{
    font: 20px bold;
    color:blue
}
.admin_menu{
display: flex;  
background-color: brown;  
text-align: center;
padding:15px
}
div.subButton
{
    text-align: center;
}
.menuLink{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:#000;
    text-decoration: none;
}
.info{
    box-shadow: 0px 2px 10px 0px green;
    margin:5px;
    border-radius: 5px;
    padding:30px;
}